<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS - Add Student</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body>

  <div class="container my-5">

    <h1>Edit Student</h1>

    <form class="mt-4" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" 
            name="name" value="{{student.name}}">
        </div>       
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" 
            name="email" value="{{student.email}}" >
        </div>
        <div class="mb-3">
            <label for="contact" class="form-label">Contact</label>
            <input type="text" class="form-control" id="contact" name="contact" value="{{student.contact}}" >
        </div>

        <div class="mb-3">
            <label for="course" class="form-label">Course Enrolled</label>
            <input type="text" class="form-control" id="course" name="course" value="{{student.course}}" >
        </div>

        <button type="submit" class="btn btn-dark">Edit</button>
    </form>
        <a href="{{url_for('index')}}">Back to List</a>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</html>