<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App - Contact Us</title>
</head>

<body>
    <!-- <ul>
        <li><a href="http://127.0.0.1:5003/">Home</a></li>
        <li><a href="http://127.0.0.1:5003/about">About Us</a></li>
        <li><a href="http://127.0.0.1:5003/contact">Contact Us</a></li>
    </ul> -->
    <ul>
        <li><a href="{{url_for('hello_world')}}">Home</a></li>
        <li><a href="{{url_for('aboutus')}}">About</a></li>
        <li><a href="{{url_for('contactus')}}">Contact</a></li>
    </ul>
    <h3>Contact Us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aperiam mollitia corrupti. Aut a
        delectus, laborum atque expedita praesentium dolorum porro ad maxime eos libero, quae aperiam eum explicabo?
        Culpa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aperiam mollitia corrupti. Aut a
        delectus, laborum atque expedita praesentium dolorum porro ad maxime eos libero, quae aperiam eum explicabo?
        Culpa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aperiam mollitia corrupti. Aut a
        delectus, laborum atque expedita praesentium dolorum porro ad maxime eos libero, quae aperiam eum explicabo?
        Culpa?</p>

        <img src="http://127.0.0.1:5003/static/images.jpg" alt="">
</body>

</html>